{% macro render_field(field, label_html=None) %}
  <div class="form-group {% if field.errors %} has-error{% endif %}">
    <!-- {% if label_html %}
      <label class='control-label'>{{ label_html|safe }}</label>
    {% else %}
      <span>{{ field.label() }}</span>
    {% endif %} -->
    
    {% if field.flags.required %}
      {{ field(class_="form-control input-lg", required=True, placeholder=field.description) }}
    {% else %}
      {{ field(class_="form-control input-lg", placeholder=field.description) }}
    {% endif %}
    {% if field.errors %}
      <ul class="form-field_errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form(form) %}
  {% for field in form.hidden_fields() %}
    {{ field }}
  {% endfor %}
  {% for field in form.visible_fields() %}
    {{ render_field(field) }}
  {% endfor %}
{% endmacro %}
